* {
	font-family: "MesloLGS Nerd Font Mono Bold";
	padding: 0;
	margin: 0;
	margin-right: 8px;
	margin-left: 8px;
}

window {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 5px 5px;
	font-weight: bold;
	color: white;
	text-shadow: 0 2px 2px black;
}

tooltip {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: white;
    text-shadow: 0 2px 2px black;
}

#workspaces {
    background: transparent;
	color: transparent;
    border: none;
}

#workspaces button {
	color: white;
	margin: 0 0;
}

#workspaces button:hover {
	background: transparent;
    color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}
